@import "../../styles/variables.scss";

.header {
  .barTop {
    height: 45px;

    display: none;
    justify-content: flex-end;

    @media (min-width: 1280px) {
      display: flex;
    }

    .infoBar {
      background: $first;
      padding: 10px 40px;
      height: 100%;

      display: flex;
      align-items: center;
      width: 100%;

      @media (min-width: 1280px) {
        width: 40%;
      }

      div {
        display: flex;
        align-items: center;
      }

      a {
        margin-right: 12px;
      }

      span {
        color: $zero;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .phone {
        margin-left: 40px;

        img {
          margin-right: 15px;
        }
      }
    }
  }

  .linkLogo {
    img {
      width: 130px;
      @media (min-width: 1280px) {
        width: auto;
      }
    }
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;

    @media (min-width: 1280px) {
      padding: 0;
    }

    @media (min-width: 1800px) {
      width: 60%;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1280px) {
      justify-content: space-around;
    }

    nav {
      display: none;

      @media (min-width: 1280px) {
        display: flex;
        align-items: center;
      }

      ul {
        display: flex;

        li {
          &:not(:last-child) {
            margin-right: 30px;
          }
        }

        a {
          color: $title;
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;

          position: relative;

          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 6px;
            left: 50%;
            bottom: -30px;
            background-color: $title;
            transition: all 0.3s ease;
          }

          &:hover::after {
            width: 100%;
            left: 0;
          }

          &.active {
            color: $first;
          }
        }
      }
    }
  }

  .menu {
    cursor: pointer;
    position: relative;
    width: 30px;

    @media (min-width: 1280px) {
      display: none;
    }

    &.menuActive {
      .menuTop {
        backface-visibility: hidden;
        top: 0;
        transform: rotate(50deg);
        transition: 300ms 300ms;
      }

      .menuMiddle {
        opacity: 0;
      }

      .menuBottom {
        backface-visibility: hidden;
        top: 0;
        transform: rotate(-410deg);
        transition: 300ms 300ms;
      }
    }

    .menuBurger {
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      border-top: 5px solid $first;
      width: 100%;
      transition: 0.55s;
      border-radius: 7px;
    }

    .menuTop {
      top: 0;
    }
    .menuMiddle {
      top: 8px;
    }
    .menuBottom {
      top: -8px;
    }
  }
}
